<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <div class="container choose-file-container">
        <span>Выберите документ из списка:</span>
        <form method="POST" action="/form">
            <input type="radio" name="doc" value="chess_fr">Échecs (франц.)<Br>
            <input type="radio" name="doc" value="saint_martin_fr">Saint-Martin-sur-Écaillon (франц.)<Br>
            <input type="radio" name="doc" value="santos_fr">Alberto Santos-Dumont (франц.)<Br>
            <input type="radio" name="doc" value="chretien_fr">Albert Chrétien (франц.)<Br>
            <input type="radio" name="doc" value="soprano_fr">Mezzo-soprano (франц.)<Br>
            <br />
            <input type="radio" name="doc" value="futurama_en">Futurama (англ.)<Br>
            <input type="radio" name="doc" value="weavers_needle_en">Weavers Needle (англ.)<Br>
            <input type="radio" name="doc" value="twisted_sister_en">Twisted Sister (англ.)<Br>
            <input type="radio" name="doc" value="new_york_en">New York City (англ.)<Br>
            <input type="radio" name="doc" value="Buffalo_Oklahoma_en">Buffalo, Oklahoma (англ.)<Br>

            <input type="submit" value="Выполнить">
        </form>
    </div>
</body>
</html>