<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <div class="container choose-file-container">
        <div class="file-element">
            <label>Échecs (франц.)</label>
            <a href="/chess_fr/ngram" class="file-link">N-gram</a>
            <a href="/chess_fr/alphabet" class="file-link">Alphabet</a>
        </div>
        <div class="file-element">
            <label>Saint-Martin-sur-Écaillon (франц.)</label>
            <a href="/saint_martin_fr/ngram" class="file-link">N-gram</a>
            <a href="/saint_martin_fr/alphabet" class="file-link">Alphabet</a>
        </div>
        <div class="file-element">
            <label>Alberto Santos-Dumont (франц.)</label>
            <a href="/santos_fr/ngram" class="file-link">N-gram</a>
            <a href="/santos_fr/alphabet" class="file-link">Alphabet</a>
        </div>
        <div class="file-element">
            <label>Albert Chrétien (франц.)</label>
            <a href="/chretien_fr/ngram" class="file-link">N-gram</a>
            <a href="/chretien_fr/alphabet" class="file-link">Alphabet</a>
        </div>
        <div class="file-element">
            <label>Mezzo-soprano (франц.)</label>
            <a href="/soprano_fr/ngram" class="file-link">N-gram</a>
            <a href="/soprano_fr/alphabet" class="file-link">Alphabet</a>
        </div>
        <br />
        <div class="file-element">
            <label>Futurama (англ.)</label>
            <a href="/futurama_en/ngram" class="file-link">N-gram</a>
            <a href="/futurama_en/alphabet" class="file-link">Alphabet</a>
        </div>
        <div class="file-element">
            <label>Weavers Needle (англ.)</label>
            <a href="/weavers_needle_en/ngram" class="file-link">N-gram</a>
            <a href="/weavers_needle_en/alphabet" class="file-link">Alphabet</a>
        </div>
        <div class="file-element">
            <label>Twisted Sister (англ.)</label>
            <a href="/twisted_sister_en/ngram" class="file-link">N-gram</a>
            <a href="/twisted_sister_en/alphabet" class="file-link">Alphabet</a>
        </div>
        <div class="file-element">
            <label>New York City (англ.)</label>
            <a href="/new_york_en/ngram" class="file-link">N-gram</a>
            <a href="/new_york_en/alphabet" class="file-link">Alphabet</a>
        </div>
        <div class="file-element">
            <label>Buffalo, Oklahoma (англ.)</label>
            <a href="/Buffalo_Oklahoma_en/ngram" class="file-link">N-gram</a>
            <a href="/Buffalo_Oklahoma_en/alphabet" class="file-link">Alphabet</a>
        </div>
    </div>
</body>
</html>